 /*  Estilo definido por imaguila para juegos chulos */ 
p {
  color: #D35400;
  text-align: justify;
}
h1 { font-size: 3em;
     font-weight: bold;
     color: #D35400;
 //letter-spacing:5px;
 }
 h2 { border-bottom: 1px solid teal;
      color: teal;

}

 h3 { color: #F1C40F;
      font-style: italic; }

blockquote { border-left-width: 0;
            background-color: #F1C40F
    }

body  {
            background-color: #FAE5D3;
}


/*prueba de imágenes */

img,
canvas,
iframe,
video,
svg,
select,
textarea {
  max-width: 100%;
}
